body {
    margin: 0;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Helvetica', Arial, sans-serif;
    background-image: url('assets/wall_light.jpg');
    background-color: #000;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    transition: background-color 0.5s;
    transition: background-image 1.0s ease;
}

canvas {
    display: block;
}

.semi-bg {
	background: rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
	height: 65%;
}		

.taskbar {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    border: 0px solid white; 
    height: 40px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: saturate(1) blur(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s;
    border-radius: 15px;
}

.start-menu-icon {
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 16px;
}

.music-button {
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 16px;
}

.taskbar-icon {
    padding: 10px;
    cursor: pointer;
    height: 80%;
    border-radius: 50%;
    font-size: 16px;
}

.taskbar-icons {
    display: inline-flex;
    justify-content: flex-start;
    flex: 1;
    align-content: space-around;
    flex-direction: row;
}

.taskbar-clock {
    margin-left: auto;
    white-space: nowrap;
    margin-right: 15px;
    border-radius: 10px;
    font-size: 14px;
}

.desktop {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.desktop-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
    transition: transform 0.2s;
}

.desktop-icon-container.active {
    animation: iconPulse 2s infinite;
}

.desktop-icon {
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    transition: background-color 0.5s;
    margin-bottom: 5px;
}

.desktop-icon i {
    font-size: 36px;
}

.taskbar-icon img {
    font-size: 36px;
    height: 35px;
    width: 35px;
}

.desktop-icon img {
    font-size: 36px;
    height: 60px;
    width: 60px;
}

.desktop-label {
    font-size: 14px;
    font-weight: bold;
    color: #444;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Helvetica', Arial;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.0);
}

.start-menu {
    position: fixed;
    bottom: 70px;
    left: 0;
    width: 200px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    padding: 10px;
    transform: translateY(20px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.start-menu.active {
    display: flex;
    transform: translateY(0);
    opacity: 1;
}

.start-menu-item {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.start-menu-item i {
    margin-right: 10px;
}

.window {
    position: absolute;
    top: 50%;
    left: 50%;
	z-index: 1;
    width: 90%;
    max-width: 600px;
    height: 80%;
    max-height: 400px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    transform: scale(0.9) translate(-50%, -50%);
}

.window.show {
    display: flex;
    opacity: 1;
	z-index: 10;
    transform: scale(1) translate(-50%, -50%);
}

.window .title-bar {
    background: #0078d7;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
}

.window .content {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
}

.no-select {
    user-select: none;
}

.settings-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.setting-option {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s;
}

.setting-option:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.setting-option label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.setting-option i {
    font-size: 24px;
    margin-bottom: 10px;
}

.setting-option input[type="checkbox"] {
    display: none;
}

.setting-option input[type="checkbox"]:checked + label {
    color: #007bff;
}

.dark-theme .setting-option {
    background-color: rgba(0, 0, 0, 0.05);
}

.dark-theme .setting-option:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.file {
    padding: 10px;
    margin: 5px 0;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

.file i, .setting-option i {
    margin-right: 10px;
}

.file:hover, .setting-option:hover {
    background: rgba(50, 50, 50, 0.1);
}

.close-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.2s ease;
    position: relative;
    padding: 0;
}

.close-button::before {
    content: '×';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
}

.close-button:hover {
    background-color: rgba(255, 0, 0, 0.7);
    transform: scale(1.1);
}


.dark-theme {
    background-color: #000;
    color: white;
    background-image: url(assets/wall_dark.jpg);
}

.dark-theme .taskbar,
.dark-theme .window,
.dark-theme .start-menu,
.dark-theme .file,
.dark-theme .setting-option {
    background: rgba(50, 50, 50, 0.1);
}

.dark-theme .title-bar {
    background: #444;
}

.dark-theme .desktop-icon i,
.dark-theme .start-menu-item,
.dark-theme .file,
.dark-theme .desktop-label,
.dark-theme .setting-option {
    color: white;
}

.boot-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10000;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.boot-screen.hidden {
    opacity: 0;
    pointer-events: none;
}

.boot-loader {
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeInOut {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}

.fade-in-out {
    animation: fadeInOut 2s infinite;
    font-family: 'Courier New', Courier, monospace;
}

.percentage {
    position: absolute;
    font-size: 14px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes iconPulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.taskbar-icon::after {
    content: '';
    position: absolute;
    bottom: 3px;
    width: 5px;
    height: 5px;
    background-color: #007bff;
    border-radius: 50%;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.3s ease;
}

.taskbar-icon.active::after {
    opacity: 1;
}
		
.contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 10px;
    margin-top: 20px;
}

.contact-grid a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.contact-grid a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.contact-grid .email {
    grid-column: span 2; /* Full width for the email button */
    background: rgba(0, 0, 0, 0.1);/* Adjusted to match the theme */
    color: rgba(212, 70, 56, 0.7);
}

.contact-grid .email:hover {
    background: rgba(0, 0, 0, 0.1);
}

.contact-grid .facebook {
	background: rgba(0, 0, 0, 0.1);
    color: rgba(24, 119, 242, 0.7);
}

.contact-grid .facebook:hover {
    background: rgba(0, 0, 0, 0.1);
}

.contact-grid .x {
	background: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 1);
}

.contact-grid .x:hover {
    background: rgba(0, 0, 0, 0.1);
}

.contact-grid .github {
    background: rgba(0, 0, 0, 0.1);
    color: rgba(51, 51, 51, 0.7);
}

.contact-grid .github:hover {
    background: rgba(0, 0, 0, 0.1);
}

/* Dark Theme Adjustments */
.dark-theme .contact-grid .email
.dark-theme .contact-grid .facebook,
.dark-theme .contact-grid .x, 
.dark-theme .contact-grid .github,	
.dark-theme .contact-grid .x {
    background: rgba(0, 0, 0, 0.1);
	color: #fff;
}
		
.dark-theme .contact-grid a {
    background-color: rgba(0, 0, 0, 0.1);
}

.dark-theme .contact-grid a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.content h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content li {
    background-color: rgba(0, 0, 0, 0.05);;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    color: #000;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.content li:hover {
    background-color: rgba(0, 0, 0, 0.05);;
}

/* Dark Theme Adjustments */
.dark-theme .content li {
    background-color: rgba(0, 0, 0, 0.05);
    color: #fff;
}

.dark-theme .content li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
