        body {
            margin: 0;
			font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Helvetica', Arial, sans-serif;;
            /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
            background-image: url('wallpaper.gif');
            background-size: cover;
            height: 100vh;
            overflow: hidden;
            transition: background-color 0.5s;
        }

        .taskbar {
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 40px;
            background: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(10px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
            transition: background-color 0.5s;
        }

        .start-menu-icon, .taskbar-icon, .taskbar-clock, .music-button {
            padding: 10px;
            cursor: pointer;
        }

		.taskbar-icon.active {
			color: #fff;
			transform: scale(1.1);
			box-shadow: 0px 0px 50px rgba(0, 140, 255, 0.6);
			border-radius: 10px;
		}
		
        .taskbar-icons {
            display: flex;
            justify-content: center;
            flex: 1;
        }

        .taskbar-clock {
            margin-left: auto;
            white-space: nowrap;
			margin-right: 20px;
        }

        .desktop {
            position: absolute;
            top: 20px;
            left: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .desktop-icon-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px 0;
            cursor: pointer;
            transition: transform 0.2s;
        }

        .desktop-icon-container.active {
            transform: scale(1.1);
        }

        .desktop-icon {
            width: 60px;
            height: 60px;
            background: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(10px);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            transition: background-color 0.5s;
            margin-bottom: 5px;
        }

        .desktop-icon i {
            font-size: 36px;
        }

        .desktop-label {
            font-size: 14px;
            color: #fff;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        }

        .start-menu {
            position: fixed;
            bottom: 40px;
            left: 0px;
            width: 200px;
            background: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(10px);
            border-radius: 10px 10px 0px 0px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0);
            display: none;
            flex-direction: column;
            padding: 10px;
            transform: translateY(20px);
            opacity: 0;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .start-menu.active {
            display: flex;
            transform: translateY(0);
            opacity: 1;
        }

        .start-menu-item {
            padding: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
        }

        .start-menu-item i {
            margin-right: 10px;
        }

        .window {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 90%;
            max-width: 600px;
            height: 80%;
            max-height: 400px;
            background: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(10px);
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            display: none;
            flex-direction: column;
            overflow: hidden;
            transition: transform 0.3s ease, opacity 0.3s ease;
            opacity: 0;
            transform: scale(0.9) translate(-50%, -50%);
        }

        .window.show {
            display: flex;
            opacity: 1;
            transform: scale(1) translate(-50%, -50%);
        }

        .window .title-bar {
            background: #0078d7;
            color: white;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: move;
        }

        .window .content {
            padding: 20px;
            flex-grow: 1;
            overflow-y: auto;
        }
		
		.no-select {
    		user-select: none;
		}	

        .file, .setting-option {
            padding: 10px;
            margin: 5px 0;
            background: rgba(255, 255, 255, 0.7);
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            display: flex;
            align-items: center;
        }

        .file i, .setting-option i {
            margin-right: 10px;
        }

        .file:hover, .setting-option:hover {
            background: rgba(200, 200, 200, 0.7);
        }

        .close-button {
            background: none;
            border: none;
            color: white;
            cursor: pointer;
            font-size: 16px;
        }

        .dark-theme {
            background-color: #333;
            color: white;
        }

        .dark-theme .taskbar,
        .dark-theme .window,
        .dark-theme .desktop-icon,
        .dark-theme .start-menu,
        .dark-theme .file,
        .dark-theme .setting-option {
            background: rgba(50, 50, 50, 0.7);
        }

        .dark-theme .window .title-bar {
            background: #444;
        }

        .dark-theme .desktop-icon i,
        .dark-theme .desktop-label,
        .dark-theme .start-menu-item,
        .dark-theme .file,
        .dark-theme .setting-option {
            color: white;
        }

        .boot-screen {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 10000;
            opacity: 1;
            transition: opacity 1s ease-in-out;
        }

        .boot-screen.hidden {
            opacity: 0;
            pointer-events: none;
        }

        .boot-loader {
            width: 50px;
            height: 50px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
		
		@keyframes fadeInOut {
			  0% {
				opacity: 0.4;
			  }
			  50% {
				opacity: 1;
			  }
			  100% {
				opacity: 0.4;
			  }
			}

			.fade-in-out {
			  animation: fadeInOut 2s infinite;
			  font-family: 'Courier New', Courier, monospace; /* Applies a monospace font */
			}


        .percentage {
            position: absolute;
            font-size: 14px;
            color: #fff;
			font-family: 'Courier New', Courier, monospace;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
